@media screen and (max-width: 900px) {
  #mobileMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    right: 10px;
    top: 10px;

    mat-icon {
      font-size: 45px;  // Adjust this value as needed
      height: 45px;  // Adjust this value as needed
      width: 50px;  // Adjust this value as needed
    }

  }
}
