<button mat-icon-button *ngIf="isMobile" [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
<button mat-menu-item routerLink="/home">Início</button>
<button mat-menu-item routerLink="/products" (click)="onProdutosClick()">Produtos</button>
<button mat-menu-item routerLink="/contact">Contatos</button>
<button mat-menu-item routerLink="/about">Quem Somos</button>
<button mat-menu-item routerLink="/info">Informações de Envio, Troca, Devolução</button>
</mat-menu>
