
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-orange, 200);
$custom-app-secondary: mat-palette($mat-orange, 900);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary,  $custom-app-warn);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFE0B2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
