.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 200px;
  margin-top: 0px;
}

.logo img {
  height: 100px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .logo {
    margin-right: 100px;
    left: 0px;

    img {
      height: 60px;
    }
  }
}
