<div class="menu-items" *ngIf="!isMobile">
  <button mat-button routerLink="/home" matRippleDisabled class="no-hover">
    Início
    <span class="underline"></span>
  </button>
  <button mat-button routerLink="/products" matRippleDisabled class="no-hover">
    Produtos
    <span class="underline"></span>
  </button>
  <button mat-button routerLink="/about">
    Quem Somos
    <span class="underline"></span>
  </button>
  <button mat-button routerLink="/contact">
    Contatos
    <span class="underline"></span>
  </button>
</div>
