<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <a [routerLink]="['/product-detail', product._id]">
          <img class="card-img-top zoom" [src]="product.imageUrl" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price | currency:'BRL':'symbol':'1.2-2'}}</p>
          <button mat-raised-button color="primary" [routerLink]="['/product-detail', product._id]"
            (click)="buyProduct()">
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
