<app-free-delivery-banner></app-free-delivery-banner>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title class="mat-dialog-title">Login</h1>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="email@email.com.br">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput type="password" formControlName="password" placeholder="Sua Senha">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Login</button>

  <p class="create-account"> <a (click)="createAccount()">Cadastre-se</a></p>
</form>
