button {
  margin: 0 20px;
  position: relative;
  overflow: hidden;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  // text-transform: uppercase;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #FFCC80;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease-in-out;
  border-radius: 5px;

}

button:hover .underline {
  transform: scaleX(1);
}

@media screen and (max-width: 900px) {
  

}
