.icon-buttons {
  display: flex;
  margin-left: 200px;
  align-items: center;
  margin-top: 0px;

}

.icon-buttons button {
  margin: 0 0px;
  background-color: transparent !important;
  border-color: transparent !important;
  size: 60px;

}

.icon-buttons button mat-icon {
  font-size: 30px; 
  height: 30px; 
  width: 30px; 
}

@media screen and (max-width: 600px) {

  .icon-buttons {
    display: flex;
    margin-left: 0px;
    align-items: center;
  }

  .icon-buttons button {
    margin: 0 3px;
    background-color: transparent !important;
    border-color: transparent !important;
    size: 100px;
  }

}
