.icon-buttons {
  display: flex;
  margin-left: 50px;
  align-items: center;
  margin-top: 5px;

}

.icon-buttons button {
  margin: 0 5px;
  background-color: transparent !important;
  border-color: transparent !important;
}
