<app-free-delivery-banner></app-free-delivery-banner>

<div class="about-page">

  <div class="image1">
    <img src="https://raw.githubusercontent.com/ArthurGB80/fudgelate-frontend/main/src/assets/img/about/about1.jpg" alt="About us image">
    <p class="image-text">Quem Somos</p>
  </div>

  <div class="content-section">
    <div class="text-section">
      <h2>Trazendo a Doçura para a Felicidade !!!</h2>
      <p>A Fudge Late é uma empresa dedicada à alegria que os doces podem trazer para a vida das pessoas. Desde a nossa fundação, nos comprometemos com a excelência e a qualidade, usando apenas os melhores ingredientes em nossas receitas.
      <p>Nosso objetivo é tornar a experiência deliciosa do fudge e do bolo de chocolate mais acessível a todos.</p>
      <p>Somos apaixonados por criar doces que não apenas satisfazem o paladar, mas também proporcionam uma sensação de conforto e felicidade.
      <p>Na Fudge Late, acreditamos que a felicidade pode ser nutrida através do doce. Seja bem-vindo à nossa doce jornada!</p>
    </div>

    <div class="image2">
      <img src="https://raw.githubusercontent.com/ArthurGB80/fudgelate-frontend/main/src/assets/img/about/about2.png" alt="Descriptive alt text">
    </div>
  </div>

  <div class="image3">
    <img src="https://raw.githubusercontent.com/ArthurGB80/fudgelate-frontend/main/src/assets/img/about/about3.jpg" alt="Descriptive alt text">
    <p class="image-text3">Fudge é demais!!!</p>
  </div>

</div>
