<mat-toolbar color="primary" style="display: flex; justify-content: center;">
  <span style="font-size: 12px; line-height: 1.5; text-align: center;"><br>FODGE LATE - 11 94001-0815<br>
    RUA SANTOS DUMONT, N1000, SANTO ANDRÉ SÃO PAULO</span>
</mat-toolbar>



<style>
  .fullscreen-image {
    background-image: url('assets/images/fogge-google.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

  .centered-text {
    text-align: center;
    font-size: 18px;
    margin-top: 2em;
  }
</style>

<div class="fullscreen-image"></div>

<div class="alegrarseudia">
  <br>
  O Fodge Late chegou para alegrar seu dia!
</div>


