.fullscreen-image {
  background-image: url('../assets/images/fogge-google.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.alegrarseudia {
  text-align: center;
  font-size: 30px;
  margin-top: 2em;
}
