form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 180px auto;
  margin-bottom: 35px;
}

h1 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;

}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px ;

}
