@media screen and (max-width: 600px) {
  .menu-items {
    display: none;
  }

  .mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: flex-start;
    height: 100px;
  }

  .logo {
    margin-right: 15px;
  }

  .logo img {
    height: 50px;
  }

  button {
    margin: 0 5px;
    font-size: 12px;
  }

  .icon-buttons {
    margin-left: 20px;
  }
}

.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.logo img {
  height: 60px;
  width: auto;
}

button {
  margin: 0 10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 13px;
}

.icon-buttons {
  display: flex;
  margin-left: 50px;
  align-items: center;
  margin-top: 5px;
}

.icon-buttons button {
  margin: 0 5px;
}
