.card {
  background-color: transparent;
  border-color: transparent !important;

}

.btn-primary {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #413131; // Change this to the color you want for the text
}
