<ngb-carousel [interval]="3000">
  <ng-template ngbSlide>
    <div style="height: 80vh;">
      <img src="assets/img/home-carousel/Leonardo_fudge_dessert.jpg" alt="Slide 1" style="max-height: 100%; object-fit: cover; margin: auto;">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="height: 80vh;">
      <img src="assets/img/home-carousel/Bolo1.png" alt="Slide 1" style="max-height: 100%; object-fit: cover; margin: auto;">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="height: 80vh;">
      <img src="assets/img/home-carousel/fodge1.png" alt="Slide 2" style="max-height: 100%; object-fit: cover; margin: auto;">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="height: 80vh;">
      <img src="assets/img/home-carousel/Bolo2.png" alt="Slide 3" style="max-height: 100%; object-fit: cover; margin: auto;">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="height: 80vh;">
      <img src="assets/img/home-carousel/fodge2.png" alt="Slide 4" style="max-height: 100%; object-fit: cover; margin: auto;">
    </div>
  </ng-template>
</ngb-carousel>
