.container {
  width: 100%;
  margin-top: 170px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 23px;
  }
}

inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

.min-order {
  font-size: 1em;
  text-align: center;
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;



}

table th, table td {
  text-align: center;
  vertical-align: middle;
  padding: 0px 30px;
}

table td img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.container h2 {
  font-size: 1em;
}

.container p {
  margin: 0;
}

.container button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container button:hover {
  background-color: #d32f2f;
}

.container .total {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

mat-button {
  background-color: #f44336;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
}

.empty-cart {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px !important;
}

.coupon {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
  margin-bottom: 35px;
}
.coupon input {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {

}
